$color-header: #303841;
$color-titulos: #3a4750;
$color-secundario: #eeeeee;

$font-color-header: whitesmoke;
$font-color-destacado: #f6c90e;
$font-color-items-menu: #3a4750;

//$font-h1: 'Dancing Script', cursive;
$font-h1: 'Great Vibes', cursive;
$font-h2: 'Great Vibes', cursive;
$font-titulos: "Montserrat", sans-serif;
